iframe[id^='twitter-widget-'] {
    width:100% !important;     max-width:100% !important; 
}

body {
    padding: 0; margin: 0;margin-left: -3px;
    width: 1362px;
    height: 768px;
    overflow: hidden;
    font-family: sans-serif;
    font-size: 1.1em;
    background-color: black;
    color: white;
}
#space {
    font-weight: bold;
    font-size: 1.2em;
    color: #5f9fbc;
    /*     padding-right: 3em; */
}
#time {
    position: absolute;
    top: 6px; left: 1254px;
    font-family: monospace;
    font-size: 1.2em;
}
div.pane {
    position: absolute;
    width: 640px;
    overflow: hidden;
    border-radius: 5px;
    background-color: #333;
    margin: 3px;
    /*color: #ddd;*/
    color: #5f9fbc;
}
table { border-spacing: 0}
div.rss { padding: 8px 12px 0 0.4em }
a:link { color: #87C2ED; text-decoration: none }
a:hover { text-decoration: underline; }
a:visited { color: #707070; }
.rss-title {font-weight: bold; font-size: 1.1em; color: #ddd;}
.rss-author { margin-left: 1em; }
.rss-date { float: right; margin-right: -8px;}

#irc {
    width: 708px;
    height: 416px;
    left: 0px;
    top: 346px;
}
#irc-frame {
    border: 0;
    width: 708px;
    height: 416px;
}
#twitter {
    width: 708px;
    height: 300px;
    left: 0px;
    top: 36px;
}
#list {
    height: 234px;
    left: 718px;
    top: 36px;
}
#cam {
    width: 640px;
    height: 480px;
    left: 718px;
    top: 282px;
}
#cam img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
#header {
    width: 1254px;
    height: 36px;
    overflow: hidden;
    font-size: 1.3em;
    padding-left: 5px;
    padding-bottom: 0;
    margin-bottom: 0;
    white-space: nowrap;
    text-overflow: ellipsis;
}
#here:before { content: "· "; }
#status { display: none }
/*  #here { overflow: hidden; text-overflow: ellipsis; } */

@keyframes bm-blink {
    0% {
	color: blue;
	background-color: yellow;
    }
    50% {
	color: yellow;
	background-color: blue;
    }
    100% {
	color: blue;
	background-color: yellow;
    }
}
@-webkit-keyframes bm-blink {
    0% {
	color: blue;
	background-color: yellow;
    }
    50% {
	color: yellow;
	background-color: blue;
    }
    100% {
	color: blue;
	background-color: yellow;
    }
}

#bigmessage {
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    text-align: center;
}

#bigmessage-text {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    background-color: white;
    color: black;
    font-size: 80px;
    padding: 20px 0;
    -webkit-animation-duration: 1000ms;
    -webkit-animation-name: bm-blink;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
    -webkit-animation-timing-function: steps(1);
    animation-duration: 1000ms;
    animation-name: bm-blink;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: steps(1);
}

#bigmessage.visible {
    display: block;
}
